<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{default}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Register</title>
</head>
<body>
<div layout:fragment="content">
    <div id="content" class="login-wrapper">
        <div class="card">
            <div class="card-header">Reset your password</div>
            <div class="card-body">
                <form th:action="@{'/reset-confirm/' + ${token}}" method="post">
                    <div class="mb-3">
                        <label class="form-label">New Password</label>
                        <input type="password" class="form-control" placeholder="new password" name="newPassword" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control" placeholder="new password" name="confirmNewPassword" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block login-btn">Submit</button>
                </form>
            </div>
        </div>
        <div class="return-to">
            <a href="/login">Already have an account? Login <span>here</span>.</a>
        </div>
    </div>
</div>
</body>
</html>