<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{default}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Badges</title>
</head>
<body>
<div layout:fragment="content">
    <div id="content">

        <div id="section-above">
            <div class="alert alert-light breadcrumb-bar" role="alert">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/panel">Admin Panel</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Badges</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="card forum-list policy tickets" th:if="${badges.isEmpty()}">
            <p style="margin-top: 1rem; text-align: center">
                <b>There are no badges</b>
                <br>
                You can create a badge by <span style="font-weight: 600">updating the config</span>.
            </p>
        </div>

        <div class="card forum-list" th:if="${!badges.isEmpty()}">
            <table class="table">
                <thead>
                <tr>
                    <th class="ticket-title text-center" style="width: 150px">ID</th>
                    <th class="ticket-status-title" style="width: 250px">Icon</th>
                    <th class="ticket-title text-left">Name</th>
                    <th class="ticket-title text-left">Description</th>
                    <th class="ticket-title text-center" style="width: 200px">Apply</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="badge: ${badges}">
                    <th class="text-center" th:text="${badge.getId()}">
                    </th>

                    <th>
                        <img style="width: 50px" th:src="@{'/images/badges/' + ${badge.getIcon()}}" alt="Badge Icon">
                    </th>

                    <th class="text-left">
                        <a th:text="${badge.getName()}" th:href="${'/badge/view/' + badge.getId()}">
                        </a>
                    </th>

                    <th class="text-left" th:text="${badge.getDescription()}">
                    </th>

                    <th class="text-center">
                        <a type="button" class="btn btn-green" th:href="${'#giveBadge-' + badge.getId()}" data-bs-toggle="modal">
                            Give to player
                        </a>
                    </th>

                    <div class="modal fade" th:id="'giveBadge-' + ${badge.getId()}">
                        <form th:action="@{/badge/give}" method="post">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        Give Badge
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <div class="modal-body">
                                        <label for="username" class="form-label">Player Name</label>
                                        <input type="text" id="username" name="username" class="form-control" required>
                                        <input type="hidden" id="badge" name="badge" class="form-control" th:value="${badge.getId()}">
                                        <p class="validation-text" id="validationResult"></p>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary confirm" id="confirmButton" style="background-color: green !important">Confirm
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        const uuidPattern = /^[0-9a-f]{8}(-?[0-9a-f]{4}){3}-?[0-9a-f]{12}$/i;


        function getName(uuid) {
            const apiUrl = `https://playerdb.co/api/player/minecraft/${uuid}`;

            return fetch(apiUrl)
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Request failed");
                    }
                    return response.json();
                })
                .then(data => {
                    if (!data || !data.data || !data.data.player || !data.data.player.username) {
                        throw new Error("Data not found");
                    }

                    return data.data.player.username;
                })
                .catch(error => {
                    throw error;
                });
        }
    </script>
</div>
</body>
</html>