<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div th:fragment="anticheat">
    <div class="card">
        <div class="card-feed-list card-recent">
            <ol class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    th:if="${!antiCheatLogs.isEmpty()}"
                    th:each="antiCheatLog: ${antiCheatLogs}">
                    <div class="avatar xm">
                        <img th:src="${'https://mc-heads.net/body/' + profile.getName()}"/>
                    </div>
                    <!--/*@thymesVar id="antiCheatLog" type="com.mobpvp.site.model.profile.log.AntiCheatLogModel"*/-->
                    <div class="ms-lg-3 me-auto">
                        <div class="fw-bold">
                            <a th:text="${antiCheatLog.getCheck()}" style="color: silver"></a>
                        </div>
                        <div class="card-feed-meta">
                            <span th:text="${antiCheatLog.getTimestampAgo() + ' on ' + antiCheatLog.getServer()}"></span>
                            <a th:text="${'VL: ' + antiCheatLog.getViolation()}"></a>
                        </div>
                    </div>
                    <button type="submit"
                            th:href="'#modal-info-' + ${antiCheatLog.getId()}"
                            data-bs-toggle="modal"
                            class="btn btn-primary comment-post"
                            th:if="${sessionProfile.hasPermission('website.anticheat.details')}">
                        Details
                    </button>

                    <div class="modal fade"
                         th:if="${sessionProfile.hasPermission('website.anticheat.details')}"
                         th:id="'modal-info-' + ${antiCheatLog.getId()}"
                         style="transform: translateY(250px);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    Log Details
                                    <button type="button" class="btn-close"
                                            data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <div th:each="entry: ${antiCheatLog.getDetails().entrySet()}">
                                        <b th:text="${entry.getKey() + ': '}"></b>
                                        <a th:text="${entry.getValue()}"></a>
                                        <br>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center"
                    style="background-color: #973333; justify-content: center !important;"
                    th:if="${antiCheatLogs.isEmpty()}">
                    <div class="fw-bold text-center error">This user has no anticheat logs.</div>
                </li>
            </ol>
        </div>
    </div>

    <nav aria-label="Page navigation example" th:if="${!antiCheatLogs.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${previousPage == currentPage ? 'disabled' : ''}">
                <a class="page-link" th:href="${previousPage == currentPage ? '' : previousPageUrl}" aria-disabled="true">&laquo;</a>
            </li>

            <li class="page-item">
                <a class="page-link" th:text="${currentPage}">
                </a>
            </li>

            <li class="page-item" th:classappend="${nextPage == currentPage ? 'disabled' : ''}">
                <a class="page-link" th:href="${nextPage == currentPage ? '' : nextPageUrl}" aria-disabled="true">&raquo;</a>
            </li>
        </ul>
        <div class="navigation-meta" th:text="${'You are on page ' + currentPage + '/' + pageCount + '.'}">
        </div>
    </nav>

</div>
</body>
</html>