<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{default}"
>
<head>
    <title>Maintenance</title>
</head>
<body>
<div layout:fragment="content">
    <div id="content">
        <div id="section-above">
            <div class="alert alert-danger alert-error" role="alert">
                <h3 th:text="'Our website is currently in maintenance mode.'"></h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>
