<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{default}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Privacy Policy</title>
</head>
<body>
<div layout:fragment="content">
    <div id="content">

        <div id="section-above">
            <div class="alert alert-light breadcrumb-bar" role="alert">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="card forum-list policy">
            <p style="margin-top: 1rem">
                <b>Information Collection and Use</b>
                <br>
                To provide you with a better gaming experience and access to our services, we may request certain
                personal information. This information may include, but is not limited to, your Minecraft username and,
                optionally, your email address. This information is collected for the purpose of personalizing your
                experience and communicating with you regarding our services.
            </p>

            <p>
                <b>Third-Party Service Providers</b>
                <br>
                We may engage third-party companies and individuals to assist us in providing and enhancing our Service.
                These service providers may have access to your Personal Information, but they are contractually
                obligated not to use or disclose it for any purpose other than to provide the services we have
                requested.
            </p>

            <p>
                <b>Security</b>
                <br>
                Your trust is important to us, and we employ reasonable and commercially acceptable measures to protect
                your Personal Information. However, please be aware that no method of data transmission over the
                internet or electronic storage is entirely secure. We cannot guarantee the absolute security of your
                information.
            </p>

            <p>
                <b>External Links</b>
                <br>
                Our website and Service may contain links to external websites. Please be aware that these sites are not
                operated by MobPvP, and we strongly recommend reviewing their respective Privacy Policies. We have no
                control over, nor do we assume responsibility for, the content, privacy policies, or practices of
                third-party websites or services.
            </p>

            <p>
                <b>Changes to this Privacy Policy</b>
                <br>
                MobPvP may update this Privacy Policy. We recommend revisiting this page regularly to stay
                informed about any changes.
            </p>

            <p>
                <b>Contact Us</b>
                <br>
                If you have any questions, concerns, or suggestions regarding our Privacy Policy or data protection
                practices, please do not hesitate to contact us at <a href="mailto:contact@mobpvp.com">contact@mobpvp.com</a>.
                Your feedback is valuable to us, and we are committed to addressing any
                inquiries or concerns you may have.
            </p>
        </div>
    </div>
</div>
</body>
</html>