<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{default}"
>
<head>
    <title>Ranked Tutorial</title>
</head>
<body>
<div layout:fragment="content">
    <div id="content">

        <div id="section-above">
            <div class="alert alert-light breadcrumb-bar" role="alert">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Ranked Tutorial</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="card forum-list policy">
            <p style="margin-top: 1rem">
                <b>How to Sync</b>
                <br>
                To sync your account in order to start playing ranked, please go to <a href="https://discord.gg/mobpvp">discord.gg/mobpvp</a> and look in #sync
                for more information.
            </p>

            <p>
                <b>How to Queue</b>
                <br>
                To queue after you have synced your account, join "Queue 0-300".<br>
                Once there are 8 players (for 4 mans) and 12 players (for 6 mans) all players will be moved into a
                different channel for "Picking".
            </p>

            <p>
                <b>How to Pick</b>
                <br>
                When picking starts make sure you are logged into mobpvp.com and on the "Practice" server. If you join a
                little late, please type /ranked in order to join.<br>
                When it's your turn to pick (if you are captain) all you have to do is right click the NPC of the player
                you would like on your team.<br>
                After all players are picked, the two teams will be moved into different calls and a different area. In
                that area, you can pick the Scenario and the Map from your hot bar.<br>
                If Original is picked for the Scenario: The captain can pick the different classes (Archer, Bard and
                Diamond) for each player by right clicking the respected chestplate to the player. After that is done
                they will click the gray dye in the hotbar to signal their team is ready.<br>
                If All Diamond is picked: The captain only has to click the gray dye in the hotbar to signal their team
                is ready.
            </p>

            <p>
                <b>Video Tutorial</b>
                <br>
            <p>
            <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/BNE0F1m4H3M?si=PEcGqX92ifqTFomb&amp;controls=0"
                    title="MobPvP Ranked Tutorial"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </p>
            </p>


        </div>
    </div>
</div>
</body>
</html>